/* Colors */
$coral: #ff758e;
$blue: #3596e3;
$gray: #90989e;
$green: #75b1ba;
$black: #403839;
$off-white: #fbfbfb;

/* Player Dashboard */
$dashboard-height: 23%;

/* Clock size */
$clock-size: 14vh;
