/* Colors */
$coral: #FF758E;
$blue: #3596E3;
$gray: #90989e;
$green: #75B1BA;
$black: #403839;
$off-white: #fbfbfb;

/* Player Dashboard */
$dashboard-height: 24%;

/* Clock size */
$clock-size: 14vh;
