@import "./variables";

/* Sets up the white game board */
#App {
  position: relative;
  width: 100vw;
  height: 100vh;
  width: calc(100vh * 0.486); // .4864
  min-width: 320px; // I originally had 321.45px
  min-height: 640px; // I originally had 726px

  background-color: $off-white;
  overflow: hidden;

  #start-screen {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .learn-game {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    color: $gray;
    width: 100%;
    opacity: 0;
    animation: howToPlayFadeIn 1.5s ease 1s 1 forwards;

    &-link {
      display: inline-block;
      padding: 0.5rem 0.5rem;

      &:hover {
        cursor: pointer;
        color: $black;
      }
    }
  }
}

.title-placer {
  animation: placeTitle 1s ease 1s 1 forwards;
}

@keyframes placeTitle {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0%;
    transform: translateY(0%);
  }
}

@keyframes howToPlayFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// MEDIA QUERIES
/* iPhone 6 in portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #App {
    width: calc(100vh * 0.5622) !important;
    max-width: 375px;
    max-height: 667px;
  }
}

/* Galaxy S7 in portrait */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  #App {
    width: calc(100vh * 0.5625) !important;
    max-width: 360px;
    max-height: 640px;
  }
}

// Galaxy Note 9
@media only screen and (min-device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #App {
    width: calc(100vh * 0.4864) !important;
    max-width: 360px;
    max-height: 740px;
  }
}
