
/* Sets up the white game board */
.App {
  width: 100vw;
  height: 100vh;
  max-width: calc(100vh * .6);
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}



