@import './variables';
@import url("https://use.typekit.net/loc6ewc.css");

#dashboard {
  text-align: center;
  width: 100%;
  height: $dashboard-height;

  .header-logo {
    width: 30.5%;
    margin: 1rem 0;
  }

  .scoreboard {
    width: 100%;
    display: flex;

    &-p1, &-p2 {
      width: 50%; 
      background-color: #6C7983;
      color: #9FA7AE;
      padding: 1rem;

      h2 {
        font-size: 1.25rem;
      }

      .score {
        font-family: alternate-gothic-no-3-d,sans-serif;
        font-size: 3.5rem;
        font-weight: 100;

        span {
          font-size: 1.75rem;
          margin-left: .5rem;
        }
      }
    }

    &-p1 {
      margin-right: .225rem;
      text-align: left;
      padding-left: 2rem;
      color: #fff;
    }

    &-p2 {
      margin-left: .225rem;
      text-align: right;
      padding-right: 2rem;
    }
  }
}