@import './variables';

#end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $green;
  color: #fff;
  font-family: alternate-gothic-no-3-d,sans-serif;
  z-index: 5000;
}