@import "./variables";
@import url("https://use.typekit.net/loc6ewc.css");

#end-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blue;
  color: #fff;
  font-family: alternate-gothic-no-3-d, sans-serif;
  z-index: 5000;

  .farewell-message {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;

    & h1 {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 3.25rem;
    }

    & h2 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2rem;
    }

    & p {
      font-weight: 100;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.075rem;
      margin-top: 2rem;
      opacity: 0.55;
    }
  }

  .top-scorer {
    text-align: center;

    .trophy {
      width: 30%;
    }

    .top-score-message {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 100;
      padding: 0 3rem 1rem;
    }
  }

  button {
    padding: 0.75rem 0.25rem 0.5rem;
    margin: 0.9rem 0;
    color: #fff;
    background-color: $coral;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-weight: 400;
    font-size: 1.85rem;
    border: none;
    border-radius: 30px;
    width: 60%;
    transition-duration: 1s;

    &:hover {
      cursor: pointer;
    }
  }
}
