@import './variables';

#points {
  position: absolute;
  width: 100%;
  margin-top: 50vh;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 500;
  
  & h1 {
    display: block;
    font-family: alternate-gothic-no-3-d,sans-serif;
    font-size: 1rem;
    color: $black;
    text-shadow: 0px 0px 6px #fff;
    animation: pointsReveal 1.25s ease-out 0s forwards;
  }
}

.plus h1 {
  color: $green !important;
}

.minus h1 {
  color: $coral !important;
}


@keyframes pointsReveal {
  0% {
    
    transform: scale(1);
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: scale(9);
    opacity: 0;
  }
}