@import url("https://use.typekit.net/loc6ewc.css");
@import "./_variables.scss";

.player-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;

  h2 {
    color: #6C7983;
    font-size: 1.85rem;
  }

  .player-menu-btn-one, .player-menu-btn-two {
    padding: .75rem .25rem;
    margin: .9rem 0;
    color: #ffffff;
    font-family: alternate-gothic-no-3-d,sans-serif;
    font-weight: 400;
    font-size: 1.85rem;
    border: none;
    border-radius: 30px;
    width: 90%
  }

  .player-menu-btn-one {
    background-color: $coral;
  }

  .player-menu-btn-two {
    background-color: $blue;
  }
}